/* global css stylesheets */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap");
#root {
  --base: #036470;
}
.app {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
